.package-detail {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-wrap: nowrap;
    gap: 30px; /* Ajuste de separación */
    max-width: 1200px; /* Ajustar según el diseño */
    margin: 0 auto;
  }
  
  .information-container {
    flex: 1; /* Ocupa el espacio disponible */
  }
  
  .booking-container {
    flex: 0 0 350px; /* Mantiene un ancho fijo para el formulario */
    background-color: #5181e9;
    padding: 20px;
    border-radius: 8px;
    color: white;
    text-align: center;
    margin: 50px auto;
  }
  