.package-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #fff;
  padding: 20px;
  /* border-radius: 8px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1); */
  flex-wrap: wrap;
  text-align: center;
}

.package-title {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.package-title h2 {
  font-size: clamp(20px, 5vw, 32px); 
  font-weight: bold;
  color: #1a1a1a;
  text-align: left;
}

.rating-stars {
  display: flex;
  gap: 3px;
}

.star {
  color: #007bff;
  font-size: 16px;
}


.package-price {
  background: #f8f9fa;
  padding: 10px 20px;
  border-radius: 10px;
  text-align: center;
  display: flex;
  flex-direction: column;
  /* min-width: 120px; */
}

.price {
  font-size: clamp(18px, 4vw, 55px); 
  font-weight: bold;
  color: #007bff;
}

.per-person {
  font-size: 14px;
  color: #777;
}


@media (max-width: 768px) {
  .package-header {
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  .package-title h2 {
    text-align: left;
  }

  .rating-stars {
    justify-content: center;
  }

  .package-price {
    margin-top: 10px;
    width: 90%;
  }
}
